<VirtualHost *:443>
    ServerName {{ selfoss_domain }}

    Include /etc/apache2/ssl.conf
    SSLCertificateKeyFile /etc/ssl/lets-encrypt/{{ selfoss_domain }}/key.pem
    SSLCertificateFile /etc/ssl/lets-encrypt/{{ selfoss_domain }}/cert.pem
    SSLCertificateChainFile /etc/ssl/lets-encrypt/{{ selfoss_domain }}/chain.pem

    DocumentRoot            /var/www/selfoss
    Options                 -Indexes

    ErrorLog                /var/log/apache2/selfoss.info-error_log
    CustomLog               /var/log/apache2/selfoss.info-access_log common

    <Directory /var/www/selfoss>
        AllowOverride All
        Order allow,deny
        allow from all
        DirectoryIndex index.php
    </Directory>
</VirtualHost>
